body {
  font-family: "Poppins", sans-serif;
  margin: 50px 150px 0 150px;
  background-color: #faf9f6;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://images.unsplash.com/photo-1602576666092-bf6447a729fc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.main {
  flex: 1;
}

.find-button {
  display: block;
  background-color: blueviolet;
  color: #fff;
  padding: 15px;
  width: 150px;
  text-align: center;
  margin-bottom: 140px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
}

h1 {
  font-size: 4.5rem;
  width: 800px;
}

h1 span {
  color: blueviolet;
  font-style: italic;
}

footer {
  text-align: right;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
  object-fit: cover;
}

.card  {
  padding: 30px;
  background-color: rgba(54,17,89,0.3);
  flex-basis: 40%;

}

.container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.card-text {
  text-align: justify;
}

.card-title {
  font-family: "Chonburi", serif;
}



@media (max-width: 1000px){
  .container {
    flex-direction: column;
  }

  .tile-image {
    float: none;
  }
}
